[submodule "vendor/github.com/beevik/ntp"]
	path = vendor/github.com/beevik/ntp
	url = https://github.com/beevik/ntp
[submodule "vendor/github.com/beorn7/perks"]
	path = vendor/github.com/beorn7/perks
	url = https://github.com/beorn7/perks
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = vendor/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions
[submodule "vendor/github.com/oschwald/geoip2-golang"]
	path = vendor/github.com/oschwald/geoip2-golang
	url = https://github.com/oschwald/geoip2-golang
[submodule "vendor/github.com/oschwald/maxminddb-golang"]
	path = vendor/github.com/oschwald/maxminddb-golang
	url = https://github.com/oschwald/maxminddb-golang
[submodule "vendor/github.com/prometheus/client_golang"]
	path = vendor/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang
[submodule "vendor/github.com/prometheus/client_model"]
	path = vendor/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model
[submodule "vendor/github.com/prometheus/common"]
	path = vendor/github.com/prometheus/common
	url = https://github.com/prometheus/common
[submodule "vendor/github.com/prometheus/procfs"]
	path = vendor/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
